*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
 
  }
#app{
    align-items: center;
}
h2{
    padding: 30px;
    background-color: white;
    font-size: xx-large;
}
h3{
    padding: 20px;
    background-color: white;
    font-weight: 100;
}
#key-name{
    color: rgb(3, 36, 29);
   
}
#key-number{
    color: rgb(3, 36, 29);
    font-size: xx-large;
}

